# Labelling of the Data

Final Notebook labelling the data.

## Import Packages

In [33]:
import pandas as pd
import numpy as np

## Load Data

In [34]:
data = pd.read_csv("./Data/cleaned_data.csv")
data.head()

/var/folders/rn/k7vf4gp97fb11dzjbcr7w8bc0000gn/T/ipykernel_61191/3250928743.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("./Data/cleaned_data.csv")

,Unnamed: 0,Venue Index,Name,Date,Rating,Rating Sent,Text,Aspect,Accessibility,Term1,Term2,Term3
0,0,0,ellis,2019,5 stars,positive,"it was a bit quite when we went in, but do not...",0,0,NaN,NaN,NaN
1,1,1,ellis,2020,5 stars,positive,nice cozy place which serves very tasty burger...,0,0,NaN,NaN,NaN
2,2,2,ellis,2019,5 stars,positive,really nice place. one of my favourite burger ...,0,0,NaN,NaN,NaN
3,3,3,ellis,2019,2 stars,negative,the service was quite good but the burgers we ...,0,0,NaN,NaN,NaN
4,4,4,ellis,2020,5 stars,positive,i had a very nice experience! the staff were r...,0,0,NaN,NaN,NaN

In [35]:
# Check whether indexes are the same
print("Shape of the df:", data.shape)
data[403840:403843] 

# Yes indexes are the same.

Shape of the df: (403843, 12)

,Unnamed: 0,Venue Index,Name,Date,Rating,Rating Sent,Text,Aspect,Accessibility,Term1,Term2,Term3
403840,403840,636,amstelhoeck,2018,5 stars,positive,location location location,0,0,NaN,NaN,NaN
403841,403841,637,amstelhoeck,2018,3 stars,neutral,nice moment,0,0,NaN,NaN,NaN
403842,403842,638,amstelhoeck,2020,5 stars,positive,cozy,0,0,NaN,NaN,NaN

In [36]:
# Drop old index
data = data.drop(columns="Unnamed: 0")
data.head()

,Venue Index,Name,Date,Rating,Rating Sent,Text,Aspect,Accessibility,Term1,Term2,Term3
0,0,ellis,2019,5 stars,positive,"it was a bit quite when we went in, but do not...",0,0,NaN,NaN,NaN
1,1,ellis,2020,5 stars,positive,nice cozy place which serves very tasty burger...,0,0,NaN,NaN,NaN
2,2,ellis,2019,5 stars,positive,really nice place. one of my favourite burger ...,0,0,NaN,NaN,NaN
3,3,ellis,2019,2 stars,negative,the service was quite good but the burgers we ...,0,0,NaN,NaN,NaN
4,4,ellis,2020,5 stars,positive,i had a very nice experience! the staff were r...,0,0,NaN,NaN,NaN

## Label Accessibility text

In [27]:
# Find the number of reviews that contain a specific word
print("Nr. reviews containing 'wheelchair':", data[data["Text"].str.contains("wheelchair")].shape[0])
print("Nr. reviews containing 'ramp':", data[data["Text"].str.contains("ramp")].shape[0])
print("Nr. reviews containing 'disabled':", data[data["Text"].str.contains("disabled")].shape[0])
print("Nr. reviews containing 'stairs':", data[data["Text"].str.contains("stairs")].shape[0])
print("Nr. reviews containing 'steps':", data[data["Text"].str.contains("steps")].shape[0])
print("Nr. reviews containing 'step':", data[data["Text"].str.contains("steps")].shape[0])
print("Nr. reviews containing 'disability':", data[data["Text"].str.contains("disability")].shape[0])
print("Nr. reviews containing 'narrow entrance':", data[data["Text"].str.contains("narrow entrance")].shape[0])
print("Nr. reviews containing 'wide entrance':", data[data["Text"].str.contains("wide entrance")].shape[0])
print("Nr. reviews containing 'small entrance':", data[data["Text"].str.contains("small entrance")].shape[0])
print("Nr. reviews containing 'narrow door':", data[data["Text"].str.contains("narrow door")].shape[0])
print("Nr. reviews containing 'wide door':", data[data["Text"].str.contains("wide door")].shape[0])
print("Nr. reviews containing 'accessible toilet':", data[data["Text"].str.contains("accessible toilet")].shape[0])
print("Nr. reviews containing 'accessible bathroom':", data[data["Text"].str.contains("accessible bathroom")].shape[0])
print("Nr. reviews containing 'elevator':", data[data["Text"].str.contains("elevator")].shape[0])
print("Nr. reviews containing 'handicap':", data[data["Text"].str.contains("handicap")].shape[0])
print("Nr. reviews containing 'steep':", data[data["Text"].str.contains("steep")].shape[0])
print("Nr. reviews containing 'steep stairs':", data[data["Text"].str.contains("steep stairs")].shape[0])
print("Nr. reviews containing 'narrow stairs':", data[data["Text"].str.contains("narrow stairs")].shape[0])
print("Nr. reviews containing 'small stairs':", data[data["Text"].str.contains("small stairs")].shape[0])
print("Nr. reviews containing 'dangerous stairs':", data[data["Text"].str.contains("dangerous stairs")].shape[0])
print("Nr. reviews containing 'slippery':", data[data["Text"].str.contains("slippery")].shape[0])

Nr. reviews containing 'wheelchair': 119
Nr. reviews containing 'ramp': 356
Nr. reviews containing 'disabled': 56
Nr. reviews containing 'stairs': 1299
Nr. reviews containing 'steps': 113
Nr. reviews containing 'step': 113
Nr. reviews containing 'disability': 3
Nr. reviews containing 'narrow entrance': 2
Nr. reviews containing 'wide entrance': 1
Nr. reviews containing 'small entrance': 0
Nr. reviews containing 'narrow door': 0
Nr. reviews containing 'wide door': 0
Nr. reviews containing 'accessible toilet': 3
Nr. reviews containing 'accessible bathroom': 2
Nr. reviews containing 'elevator': 36
Nr. reviews containing 'handicap': 19
Nr. reviews containing 'steep': 235
Nr. reviews containing 'steep stairs': 41
Nr. reviews containing 'narrow stairs': 10
Nr. reviews containing 'small stairs': 0
Nr. reviews containing 'dangerous stairs': 2
Nr. reviews containing 'slippery': 14

In [28]:
print("Nr. reviews containing 'wheelchair':", data[data["Text"].str.contains("wheelchair")].shape[0])
print("Nr. reviews containing 'disability':", data[data["Text"].str.contains("disability")].shape[0])
print("Nr. reviews containing 'disabled':", data[data["Text"].str.contains("disabled")].shape[0])
print("Nr. reviews containing 'narrow entrance':", data[data["Text"].str.contains("narrow entrance")].shape[0])
print("Nr. reviews containing 'wide entrance':", data[data["Text"].str.contains("wide entrance")].shape[0])
print("Nr. reviews containing 'accessible toilet':", data[data["Text"].str.contains("accessible toilet")].shape[0])
print("Nr. reviews containing 'accessible bathroom':", data[data["Text"].str.contains("accessible bathroom")].shape[0])
print("Nr. reviews containing 'elevator':", data[data["Text"].str.contains("elevator")].shape[0])
print("Nr. reviews containing 'handicap':", data[data["Text"].str.contains("handicap")].shape[0])
print("Nr. reviews containing 'steep':", data[data["Text"].str.contains("steep")].shape[0])
#print("Nr. reviews containing 'steep stairs':", data[data["Text"].str.contains("steep stairs")].shape[0])
print("Nr. reviews containing 'narrow stairs':", data[data["Text"].str.contains("narrow stairs")].shape[0])
print("Nr. reviews containing 'dangerous stairs':", data[data["Text"].str.contains("dangerous stairs")].shape[0])
print("Nr. reviews containing 'slippery':", data[data["Text"].str.contains("slippery")].shape[0])
print("Nr. reviews containing 'cramped':", data[data["Text"].str.contains("cramped")].shape[0])
print("Nr. reviews containing 'spacious':", data[data["Text"].str.contains("spacious")].shape[0])

print("Sum of all:", 119+3+56+2+1+3+2+36+19+235+10+2+14+293+917)

Nr. reviews containing 'wheelchair': 119
Nr. reviews containing 'disability': 3
Nr. reviews containing 'disabled': 56
Nr. reviews containing 'narrow entrance': 2
Nr. reviews containing 'wide entrance': 1
Nr. reviews containing 'accessible toilet': 3
Nr. reviews containing 'accessible bathroom': 2
Nr. reviews containing 'elevator': 36
Nr. reviews containing 'handicap': 19
Nr. reviews containing 'steep': 235
Nr. reviews containing 'narrow stairs': 10
Nr. reviews containing 'dangerous stairs': 2
Nr. reviews containing 'slippery': 14
Nr. reviews containing 'cramped': 293
Nr. reviews containing 'spacious': 917
Sum of all: 1712

In [29]:
def classify_accessibility(data):
    '''Classifies text as discussing accessibility very sure.'''
    
    accessibility_terms = ["wheelchair", #119
                           "disability", #3
                           "disabled", #56
                           "handicap", #19
                           
                           #"mobility",
                           
                           "narrow entrance", #2
                           "wide entrance", #1
                           
                           "narrow stair", #10
                           "dangerous stair", #2
                           "elevator", #36
                           "steep", #235
                           
                           "slippery", #14
                           "cramped", #293
                           "spacious",
                           
                           "accessible toilet", #3
                           "accessible bathroom", #2
                           "toilet is upstairs",
                           "toilet is downstairs",
                           "bathroom is upstairs"] #917

    if any(i in data for i in accessibility_terms):
        return 1
    else:
        return 0

In [30]:
%%time
data["Accessibility"] = data["Text"].apply(classify_accessibility)

# How any are classified as containing accessibility information?
print("Accessibility == 1:", data[data["Accessibility"]==1].shape[0])

Accessibility == 1: 1671
CPU times: user 1.45 s, sys: 41 ms, total: 1.49 s
Wall time: 1.59 s

In [31]:
data.head()

,Venue Index,Name,Date,Rating,Rating Sent,Text,Aspect,Accessibility
0,0,ellis,2019,5 stars,positive,"it was a bit quite when we went in, but do not...",0,0
1,1,ellis,2020,5 stars,positive,nice cozy place which serves very tasty burger...,0,0
2,2,ellis,2019,5 stars,positive,really nice place. one of my favourite burger ...,0,0
3,3,ellis,2019,2 stars,negative,the service was quite good but the burgers we ...,0,0
4,4,ellis,2020,5 stars,positive,i had a very nice experience! the staff were r...,0,0

## Save the data

In [32]:
data.to_csv("./Data/cleaned_data.csv")